body {
	background-color : #000;
	margin : 0px;
	padding : 0px;
	color : #fff;
	overflow: hidden;
  font-family:sans-serif;
}
#debug {
  position:absolute;
  bottom:0;
  left:0;
  padding:5px;
  text-shadow:1px 1px 1px #000;
}
#action-bar {
  display:block;
  padding-bottom: 5px;
  margin-bottom:5px;
  border-bottom: 1px solid #99c;
}

#panel {
  position:absolute;
  top:0;
  left:0;
  background: rgba(0,0,100,0.5);
  padding: 10px;
  border-bottom-right-radius: 10px;
}
#active-tool {
  display:block;
  width:100%;
}
#panel label {
  display:block;
  padding-top: 5px;
  margin-top:5px;
  border-top: 1px solid #99c;
}
#panel label span {
  font-size:80%;
  float:left;
  padding-right:10px;
  width: 60px;
}
#panel label input[type="range"] {
  display:block;
}
